#apropos-page {
  ion-toolbar {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    --background: transparent;
    --color: white;
  }

  ion-toolbar ion-back-button,
  ion-toolbar ion-button,
  ion-toolbar ion-menu-button {
    --color: white;
  }

  .apropos-header {
    position: relative;

    width: 100%;
    height: 30%;
  }

  .apropos-header .apropos-image {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0;

    transition: opacity 500ms ease-in-out;
  }

  .apropos-header .madison {
    background-image: url("/assets/img/apropos/madison.jpg");
  }

  .apropos-header .austin {
    background-image: url("/assets/img/apropos/austin.jpg");
  }

  .apropos-header .chicago {
    background-image: url("/assets/img/apropos/chicago.jpg");
  }

  .apropos-header .seattle {
    background-image: url("/assets/img/apropos/seattle.jpg");
  }

  .apropos-info {
    position: absolute;
    margin-top: -10px;
    border-radius: 10px;
    background: var(--ion-background-color, #fff);
  }

  .apropos-info h3 {
    margin-top: 0;
  }

  .apropos-info ion-list {
    padding-top: 0;
  }

  .apropos-info p {
    line-height: 130%;

    color: var(--ion-color-dark);
  }

  .apropos-info ion-icon {
    margin-inline-end: 32px;
  }

  /*
   * iOS Only
   */

  .ios .apropos-info {
    --ion-padding: 19px;
  }

  .ios .apropos-info h3 {
    font-weight: 700;
  }

}
